.product__section {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    background-color: white;

    .product__info {
        width: 50%;
        h1 {
            font-size: 3rem;
            color: #333;
        }

        p {
            font-size: 1.1rem;
            color: #666;
            line-height: 1.8;
        }

        .shop__now {
            padding: 10px 20px;
            font-size: 1rem;
            background-color: #333;
            color: white;
            border: none;
            cursor: pointer;
            margin-top: 20px;

            &:hover {
                background-color: #555;
            }
        }
    }

    .product__image {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.review__section {
    padding: 50px;
    background-color: white;

    .review__card {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        
        .reviewer__img {
            width: 40%;
            margin-right: 20px;
        }

        .review__content {
            h2 {
                font-size: 1.8rem;
                color: #333;
                margin-bottom: 10px;
            }

            .rating {
                span {
                    font-size: 1.2rem;
                    color: #ff9800;
                }
            }

            p {
                font-size: 1rem;
                color: #666;
                margin: 10px 0;
                line-height: 1.6;
            }

            h3 {
                font-size: 1.2rem;
                color: #333;
                margin: 5px 0;
            }

            .reviewer__role {
                font-size: 1rem;
                color: #999;
            }
        }
    }
}